# dotfiles are ignored by default and must be added explicitly. Use
# `git add -f <dotfile>` add a dotfile. Only do this for public files.
.*

node_modules
coverage
coverage.json
typechain*
dump.rdb*

# Hardhat files
cache
artifacts
dist

# Debugging files
*.log
