version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:16.18.0
    working_directory: ~/relayer-v2
    resource_class: medium+
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - cache-node-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --immutable
      - save_cache:
          name: Save Yarn Package Cache
          key: cache-node-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
  test:
    docker:
      - image: cimg/node:16.18.0
    working_directory: ~/relayer-v2
    resource_class: medium+
    parallelism: 20
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - cache-node-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install
      - run:
          name: Run build
          command: yarn build
      - run:
          name: Run tests
          command: |
            circleci tests glob "test/**/*.ts" | circleci tests split > /tmp/test-files
            yarn test --bail $(cat /tmp/test-files)
  lint:
    docker:
      - image: cimg/node:16.18.0
    working_directory: ~/relayer-v2
    resource_class: medium+
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - cache-node-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install
      - run:
          name: Run build
          command: yarn build
      - run:
          name: Run lint
          command: yarn lint
workflows:
  version: 2.1
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
      - lint:
          requires:
            - build
