name: Check PR
on: [push]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"

      - name: Lint
        run: yarn lint
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install Additional dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get -y install rsync libudev-dev libusb-1.0-0-dev
      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Build
        run: yarn build
      - name: Test
        run: yarn test
